<!-- FOOTER -->
<footer>
  <div class="share">
    <div class="fb-share-button" data-href="http://www.didox.com.br/" data-layout="button"></div>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.5";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  </div>
  <p class="pull-right">
    <a href="#" class="nolink">
      <img class="topo-back" src="/imagens/voltar-topo.png" width="50" height="50">
      Voltar ao topo
    </a>
  </p>
  <p>&copy; Didox Business & Technology </p>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/holder.min.js"></script>
<script src="/javascripts/ie10-viewport-bug-workaround.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70181827-2', 'auto');
  ga('send', 'pageview');
</script>