<title><%= title %></title>
<meta charset="utf-8" />
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width,user-scalable=no">
<link rel="icon" href="/imagens/logo_didox.png" />
<link rel="stylesheet" href="/stylesheets/global.css">

<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
<link href="/stylesheets/ie10-viewport-bug-workaround.css" rel="stylesheet">
<script src="/javascripts/ie-emulation-modes-warning.js"></script>
<link href="/stylesheets/carousel.css" rel="stylesheet">

<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:site" content="@didox">
<meta property="twitter:title" content="Didox Business & Technology - Dê vida ao seu sonho, crie suas soluções conosco">
<meta property="twitter:description" content="Empresa especializada em desenvolvimento de sistemas">
<meta property="twitter:image" content="http://www.didox.com.br/imagens/share.jpg">

<meta property="og:site_name" content="Didox Business & Technology">
<meta property="og:title" content="Didox Business & Technology - Dê vida ao seu sonho, crie suas soluções conosco">
<meta property="og:type" content="website">
<meta property="og:url" content="http://www.didox.com.br/">
<meta property="og:image" content="http://www.didox.com.br/imagens/share.jpg">
<meta property="og:description" content="Empresa especializada em desenvolvimento de sistemas">
