<!DOCTYPE html>
<html>
  <head>
    <%- include('../shared/head', { title: "Didox Business & Technology" }) %>
  </head>
  <body class="home">
    <%- include('../shared/header', {display_loading: 'none'}) %>
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" id="sonho" src="/imagens/sonho.jpg" alt="Sonho">
          <div class="container">
            <div class="carousel-caption sonho">
              <h1>Dê vida ao seu sonho</h1>
              <p>Crie suas soluções conosco</p>
              <p>Não perca tempo, dê continuidade e prioridades em seus projetos</p>
              <p><a class="btn btn-lg btn-primary" href="#contato" role="button">Faça seu orçamento</a></p>
              <br/><br/><br/><br/>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" id="solucoes" src="/imagens/solucao.jpg" alt="Soluções">
          <div class="container">
            <div class="carousel-caption">
              <h1>Soluções multiplataforma</h1>
              <p>Desenvolvimento e manutenção de soluções Web, Windows, MAC, Linux e aplicativos (IPhone, Android)</p>
              <br/><br/><br/><br/><br/><br/><br/>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->
    <div class="container marketing">
      <div class="row">
        <div class="center" style="width:350px">
          <h2>Projetos desenvolvidos</h2>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-4">
          <a href="http://www.torneseumprogramador.com.br" target="_blank">
            <img class="img-circle" src="/imagens/tornese.png" alt="Projeto torne-se um programador" width="140" height="140">
          </a>
          <h2>Projeto torne-se um programador</h2>
          <p>Site educacional para treinamento gratuito de programadores</p>
          <p><a class="btn btn-default" href="http://www.torneseumprogramador.com.br" role="button" target="_blank">Ver mais &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <a href="http://www.beminfinito.com.br" target="_blank">
            <img class="img-circle" src="/imagens/logo-bem-infinito.png" alt="Bem infinito" width="140" height="140">
          </a>
          <h2>Bem infinito</h2>
          <p>Conectando pessoas de bem a instituições que fazem o bem!</p>
          <p><a class="btn btn-default" href="http://www.beminfinito.com.br" role="button" target="_blank">Ver mais &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <a href="http://www.adrenalinaano10.com.br" target="_blank">
            <img class="img-circle" src="/imagens/adrenalina.png" alt="Adrenalina" width="140" height="140">
          </a>
          <h2>Adrenalina 10</h2>
          <p>Sistema para controle de promoções e vendas.</p>
          <p><a class="btn btn-default" href="http://www.adrenalinaano10.com.br" role="button" target="_blank">Ver mais &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <a href="http://www.multiclubemb.com.br" target="_blank">
            <img class="img-circle" src="/imagens/multiclube.png" alt="Multiclube" width="140" height="140">
          </a>
          <h2>Multiclube</h2>
          <p>Sistema para controle de pontos em vendas e pós-vendas.</p>
          <p><a class="btn btn-default" href="http://www.multiclubemb.com.br" role="button" target="_blank">Ver mais &raquo;</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <a href="http://www.programaterritorio.com.br" target="_blank">
            <img class="img-circle" src="/imagens/territorio.png" alt="Volkswagen território" width="140" height="140">
          </a>
          <h2>Volkswagen território</h2>
          <p>Sistema para controle de promoções e vendas.</p>
          <p><a class="btn btn-default" href="http://www.programaterritorio.com.br" role="button" target="_blank">Ver mais &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <a href="http://ziromoda.com.br" target="_blank">
            <img class="img-circle" src="/imagens/ziromoda.png" alt="Ziro moda" width="140" height="140">
          </a>
          <h2>Sistema e aplicativo Ziro</h2>
          <p>Facilidade e organiação entre varejo e atacado.</p>
          <p><a class="btn btn-default" href="http://ziromoda.com.br" role="button" target="_blank">Ver mais &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <a href="http://membros.personalnapratica.com.br/" target="_blank">
            <img class="img-circle" src="/imagens/personal.png" alt="Personal na prática" width="140" height="140">
          </a>
          <h2>Personal na prática</h2>
          <p>Sistema educacional para treinamento de professores de educação física.</p>
          <p><a class="btn btn-default" href="http://membros.personalnapratica.com.br/" role="button" target="_blank">Ver mais &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <a href="http://maratonavirtual.com/" target="_blank">
            <img class="img-circle" src="/imagens/maratona.png" alt="Maratona virtual" width="140" height="140">
          </a>
          <h2>Maratona virtual</h2>
          <p>Aplicativo para corredores de maratona.</p>
          <p><a class="btn btn-default" href="http://maratonavirtual.com/" role="button" target="_blank">Ver mais &raquo;</a></p>
        </div>
      </div>
      <!-- START THE FEATURETTES -->
      <hr>
      <div class="row featurette">
        <div class="col-md-7">
          <div id="clientes">
            <a name="clientes"></a>
            <h3>
              Clientes:
            </h3>
            <p>
              <a href="http://ziromoda.com.br" target="_blank"><img src="/imagens/ziro.png"></a>
              <a href="http://www.zicardttma.com.br" target="_blank"><img src="/imagens/zicard.jpg"></a>
              <a href="http://mark-up.com.br" target="_blank"><img src="/imagens/markup.jpg"></a>
              <a href="http://personalnapratica.com.br/" target="_blank"><img src="/imagens/personal-na-pratica.jpg"></a>
              <a href="http://maratonavirtual.com/" target="_blank"><img src="/imagens/maratona-virtual.jpg"></a>
            </p>
          </div>
          <br>
          <div id="missao">
            <a name="missao"></a>
            <h3>
              Missão:
            </h3>
            <p>
              Temos a missão de desenvolver soluções tecnológicas para empresas, de acordo com sua plataforma.
            </p>
            <p>
              <p><strong>Trabalhamos com soluções em:</strong></p>
              <ul class="solucoes">
                <li>Ruby</li>
                <li>C#</li>
                <li>Node.js</li>
                <li>Delphi</li>
                <li>Java</li>
                <li>PHP</li>
                <li>PHP Wordpress</li>
                <li>ASP</li>
                <li>VB.Net</li>
                <li>Aplicativos Android e IPhone</li>
              </ul>

              <p><strong>Versionamento de arquivos</strong></p>
              <ul class="solucoes">
                <li>Git</li>
                <li>SVN</li>
                <li>Team System</li>
                <li>Source Safe</li>
              </ul>

              <p><strong>Banco de dados em:</strong></p>
              <ul class="solucoes">
                <li>SQL Server</li>
                <li>MySQL</li>
                <li>MongoDB</li>
                <li>Postgre</li>
                <li>Oracle</li>
                <li>Firebird</li>
              </ul>

              <p><strong>Integração contínua</strong></p>
              <ul class="solucoes">
                <li>Jenkins</li>
                <li>Shell Script</li>
                <li>MS DOS</li>
                <li>Gerenciamento de servidores</li>
              </ul>
            </p>
          <div>
          <br>
          <div id="info">
            <h4>
              Para mais informações, entrar em contato no email abaixo
            </h4>
            <p>
              Faça o seu orçamento: 
              <ul style="margin-left:30px">
                <li>Email: 
                  <a href="mailto:didox_59@yahoo.com.br" name="contato" target="_top">
                    didox_59@yahoo.com.br
                  </a>
                </li>
                <li>
                  Whatsapp: +55(11)97614-4154
                </li>
                <li>
                  Skype: didox_59
                </li>
                <li>
                  Hangouts: 
                  <a href="mailto:danilo.aparecido.santos@gmail.com" name="contato" target="_top">
                    danilo.aparecido.santos@gmail.com
                  </a>
                </li>
              </ul>
            </p>
          </div>
        </div>
      </div>
      <hr class="featurette-divider">
      <%- include('../shared/footer') %>
    </div><!-- /.container -->
  </body>
</html>
