<!DOCTYPE html>
<html>
  <head>
    <%- include('../shared/head', { title: "Didox Business & Technology" }) %>
  </head>
  <body class="home">
    <%- include('../shared/header', {display_loading: 'none'}) %>
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>De vida ao seu sonho.</h1>
              <p>Crie sua solução com conosco</p>
              <p>Este site está em construção em breve novidades</p>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.carousel -->

    <div class="container marketing">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">
            Didox Business & Technology
          </h2>
          <p>
            Contato: 
            <a href="mailto:didox_59@yahoo.com.br" name="contato" target="_top">
              didox_59@yahoo.com.br
            </a>
          </p>
        </div>
      </div>
      <hr class="featurette-divider">
      <%- include('../shared/footer') %>
    </div><!-- /.container -->
  </body>
</html>
