<!DOCTYPE html>
<html>
  <head>
    <%- include('shared/head', { title: "Didox Business & Technology - erro" }) %>
  </head>
  <body class="home">
    <%- include('shared/header', {display_loading: 'none'}) %>
    <div class="containar">
      <h3>Didox Business & Technology</h3>
      <p>
        Olá alunos, ocorreu erro na página, clique <a href="/">aqui</a> para voltar para home.
      </p>
    </div>
    <%- include('shared/footer') %>
  </body>
</html>
